@charset "UTF-8";

$main-color: #FF4500;

$second-main: #1C73FF;
$org : #FF8500;
$red: #D84652;


.color-org{
  color: $org;
}
.color-main{
  color: $main-color !important;
}
.color-second-main{
  color: $second-main;
}
.color-red{
  color: $red !important;
}
.color-8c{
  color: #8C8C8C;
}
.color-b3{
  color: #B3B3B3;
}
.bg-main{
  background: $main-color;
}
.bus-select-color{
    color: $main-color;
}
.agree-yes{
    border: 0;
    background: $main-color;;
}
.agree-no{
    border: 1px solid #707070;
    background: #fff;
}
.gray-page{
  min-height: 100vh;
  background: #F5F5F5;
}
.van-uploader__preview-delete{
  font-size: .3rem !important;
}
.van-cell{
  padding: 0;
}
.icon-2fanhui{
  color: #fff;
  font-size: .32rem;
}

input,textarea{
  &::-webkit-input-placeholder,&::-moz-placeholder,&:-ms-input-placeholder{
    color:#ccc;
  }
}




.main-btn{
  height: .88rem;
  line-height: .88rem;
  border-radius: .44rem;
  background: linear-gradient(90deg, #FECB00 0%, #FEBA00 100%);
  text-align: center;
  font-size: .3rem;
  color: #fff;
}
.fixed-bot{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.08rem;
  background: #fff;
  z-index: 50;
  padding: .1rem .24rem;
  .btn{

    background: linear-gradient(90deg, #FECB00 0%, #FEBA00 100%);
    text-align: center;
    border-radius: .44rem;
    line-height: .88rem;
    font-size: .3rem;
    color: #fff;
  }
}
.pb-fixed-btn{
  padding-bottom: 1.08rem !important;
}

.fixed-flex-bot{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .98rem;
  background: #fff;
  z-index: 50;
  padding: .1rem .24rem;
  display: flex;
  .flex-btn{
    flex: 1;
    text-align: center;
    border-radius: .12rem;
    line-height: .74rem;
    font-size: .3rem;
    border: .02rem solid $main-color;
    color: $main-color;
    &.active{
      background: $main-color;
      color: #fff;
      border: none;
      line-height: .78rem;
    }
  }
}
.pb-fixed-flex-bot{
  padding-bottom: .98rem !important;
}
.scroll-view{
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: $main-color;
  width: 100%;
  height: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-bottom: .3rem;
  .back{
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
  }
  .text{
    color: #fff;
    font-size: .36rem;
    line-height: 1rem;
    flex: 1;
  }
  .right-icon{
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
  }
}

.pic-box{
  width: 2rem;
  height: 2rem;
  position: relative;
  margin-right: .2rem;
  flex-wrap: wrap;
  margin-bottom: .2rem;
  .clean{
    position: absolute;
    font-size: .4rem;
    top: -.2rem;
    right: 0;
    color: #666;
    width: .36rem;
    height: .36rem;
    background: url("~@/assets/images/cleanImg.png") no-repeat;
    background-size: .36rem;
  }
}


.page{
  min-height: 100vh;
  width: 100%;
}
.page-flex{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.page-input-title{
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  z-index: 200;
  width: 100%;
  height: .9rem;
  background: #fff;
  top: 0;
  left: 0;
  align-items: center;
  .left-icon{
    font-size: .36rem;
    color: #333;
    padding: 0 .3rem;
  }
  .right{
    padding: 0 .3rem;
  }
  .center-input{
    background: #F5F5F5;
    flex: 1;
    height: .64rem;
    border-radius: .32rem;
    padding: .12rem .3rem;
    color: #333;
    border: none;
    outline: none;
  }
  .center-box{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: .32rem;
    color: #333;
    height: .88rem;
  }
}
.page-state{
  position: sticky;
  position: -webkit-sticky;
  z-index: 200;
  width: 100%;
  left: 0;
}
.card{
  background: #fff;
  border-radius: .18rem;
  overflow: hidden;
  .card-title{
    font-size: .3rem;
    line-height: .42rem;
    color: #333;
    font-weight: bold;
    position: relative;
    margin-bottom: .08rem;
  }
}
.input-field{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .3rem 0;
  .left{
    width: 1.8rem;
    padding-left: .14rem;
    margin-right: .15rem;
    &.required{
      position: relative;
      &:after{
        position: absolute;
        content: '*';
        top: 0;
        left: 0;
        color: $red;
      }
    }
  }
  .input{
    flex: 1;
    font-size: .32rem;
    line-height: .4rem;
    color: #333;
    background: none;
    border: none;
    outline: none;
    &::-webkit-input-placeholder {
      color: #999;
    }
    &::-moz-placeholder {
      color: #999;
    }
    &:-ms-input-placeholder {
      color: #999;
    }
    &:-moz-placeholder {
      color: #999;
    }
  }
  .right{
    margin-left: .3rem;
  }
  .field-content{
    font-size: .32rem;
    line-height: .4rem;
    flex: 1;
  }
}
.filed-input-box{
  padding: .35rem 0 .24rem 0;
  .required{
    padding-left: .14rem;
    position: relative;
    &:after{
      position: absolute;
      content: '*';
      top: 0;
      left: 0;
      color: $red;
    }
  }
  .pic-box{
    margin-top: .2rem;
    width: 1.45rem;
    height: 1.45rem;
    position: relative;
    .clean{
      position: absolute;
      font-size: .36rem;
      top: -.05rem;
      right: -.05rem;
      color: $red;
    }
  }
  .van-uploader{
    margin-top: .2rem;
  }
}

.show-info-box{
  padding: .12rem 0;
  font-size: .28rem;
  line-height: .4rem;
  .info-detail-item{
    padding: .12rem 0;
    display: flex;
    justify-content: space-between;
  }
  .left{
    color: #999999;
  }
  .right{
    color: #333;
  }
}
.statusHeight{
  background: #fff;
}
.page-status{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 200;
}
.shop-register-state{
  padding: .2rem 0 ;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .text{
    font-size: .32rem;
    line-height: .45rem;
  }
  .alifont{
    margin: 0 .3rem;
    font-size: .48rem;
  }
}


.supply-top-name{
  font-size: .32rem;
  line-height: .46rem;
  padding: .24rem .24rem .24rem 0;
}
.supply-label{
  padding: 0 .1rem;
  background: $main-color;
  font-size: .26rem;
  line-height: .46rem;
  height: .46rem;
  border-radius: 0 .08rem .08rem 0;
  margin-right: .1rem;
  color: #fff;
}
.supply-label.radius{
  border-radius: .08rem;

}
.supply-tab-select{
  padding: .2rem .24rem;
  display: flex;
  .tab-item{
    font-size: .32rem;
    line-height: .45rem;
    font-weight: bold;
    margin-right: .55rem;
    padding-bottom: .08rem;
    &.active{
      border-bottom: .06rem solid $main-color;
      &.org{
        border-bottom: .06rem solid $org;
      }
      &.red{
        border-bottom: .06rem solid $red;
      }
    }
  }
}

.table-title{
  background: #F5F6FA;
  display: flex;
  padding: 0 0 0 .2rem;
  height: .72rem;
  line-height: .72rem;
  align-items: center;
  font-size: .28rem;
  color: #333;
  border-radius: .12rem;
}
.w80{
  width: .8rem;
}
.w100{
  width: 1rem;
}
.w130{
  width: 1.3rem;
}
.w160{
  width: 1.6rem;
}

.bot-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.08rem;
    background: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.21rem;
    .btn{
        width: 1.6rem;
        height: 0.57rem;
        line-height: 0.57rem;
        text-align: center;
        border-radius: 0.28rem;
    }
    .cancel{
        width: 1.6rem;
        height: 0.57rem;
        border: 0.02rem solid #B3B3B3;
        line-height: 0.57rem;
        text-align: center;
        margin-left: 0.3rem;
        padding: 0.12rem 0.32rem;
    }
    .pay-btn{
        background: linear-gradient(90deg, #FECB00 0%, #FEBA00 100%);
        color: #fff;
        margin-left: 0.3rem;
    }
    .pause-btn{
        background: #D82433;
        color: #fff;
        margin-left: 0.3rem;
    }
}

.order-bot-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.08rem;
    background: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.21rem;
    // 抖动问题
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    .cancel{
        // width: 1.6rem;
        height: 0.57rem;
        border: 0.02rem solid #B3B3B3;
        line-height: 0.57rem;
        text-align: center;
        border-radius: 0.28rem;
        margin-left: 0.3rem;
        box-sizing: border-box;
        padding: 0 0.32rem;
    }
    .pay-btn{
        // width: 1.6rem;
        height: 0.57rem;
        line-height: 0.57rem;
        text-align: center;
        border-radius: 0.28rem;
        background: linear-gradient(90deg, #FECB00 0%, #FEBA00 100%);
        color: #fff;
        margin-left: 0.3rem;
        padding: 0 0.32rem;
    }
}

.btn--fixed-next{
    width: 100%;
    height: 1.08rem;
    background: #fff;
    // position: fixed;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: .1rem .24rem;
    // 抖动问题
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    .btn{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .3rem;
        border-radius: .44rem;
        height: .88rem;
        &.main{
            color: #fff;
            background: linear-gradient(90deg, #FECB00 0%, #FEBA00 100%);
        }
    }
}
